@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
     height: 100vh; /* altura total do navegador */
     width: 100vw; /* largura total do navegador */
}

body { /*para posicionar a imagem de fundo */
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute; /*para que a posição fique flexivel ao meio*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para que o ponto do meio seja do meio do quadrado e não da ponta*/
    height: 627px; /*tamanho da imagem do iphone */
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;

}

iframe#tela { /* para a imagem dentro do iphone ficar certa*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: left;
    display: flex;
    flex-direction: column;
}

section#redes-sociais img {
    width: 50px; 
    margin: 10px;
    border-radius: 50%; /*para os botões ficarem redondos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.491);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.592);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.611);
    transition: transform 0.2s, border 0.2s;
}